body{
    background-color:#c2c59e;
}
.header{
    background-image: linear-gradient(160deg,#f746ad, #ffe600,#30cfba);

}
.card{
    /* height:350px; */
}
.card-body{
    overflow: auto;
}
.card{
    background-image: linear-gradient(160deg,#f746ad, #ffe600,#30cfba);

}